{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<div class="content">
		
	<br>
	<br>
	<br>
	<br>
			<h2>POPULAR TOPICS:  </h2>

	</div>
	
</div>
{% endblock %}

{% block group_content %}
<div class="card">
<div class="col-md-8">
	<div class="list-group">
		<i><h5>FOLLOWING</h5></i>

		{% for group in object_list %}
		{% if user in group.members.all %}
		<a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
			<h3 class="title list-group-item-heading">{{ group.name }}</h3>
	   <div class="list-group-item-text container-fluid">
		   {{ group.description_html|safe }}
		   <div class="row">
			   
			   <div class="col-md-4">
				   <span class="badge">{{ group.members.count }}</span> follower{{ group.members.count|pluralize }}
			   </div>
			   <div class="col-md-4">
				   <span class="badge">{{ group.articles.count }}</span> Article{{ group.articles.count|pluralize }}
			   </div>
		   </div>
	   </div>
   </a>
		{% endif %}
		{% endfor %}
		<br>
		<br>
		<hr>
		<i><h5>OTHERS</h5></i>

		{% for group in object_list %}
		{% if user not in group.members.all %}
		  <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
			     <h3 class="title list-group-item-heading">{{ group.name }}</h3>
			<div class="list-group-item-text container-fluid">
				{{ group.description_html|safe }}
				<div class="row">
					
					<div class="col-md-4">
						<span class="badge">{{ group.members.count }}</span> follower{{ group.members.count|pluralize }}
					</div>
					<div class="col-md-4">
						<span class="badge">{{ group.articles.count }}</span> Article{{ group.articles.count|pluralize }}
					</div>
				</div>
			</div>
		</a>
		{% endif %}
		{% endfor %}
		
	</div>
</div>
</div>
{% endblock %}
