{% extends "base.html" %}

{% load bootstrap3 %}
{% block content %}
{% load static %}
<div class="login-box">
  <h2>LOGIN</h2>
  <form  method="post">
    <div class="user-box">
      
          {% csrf_token %}
          {% bootstrap_form form %}
          <a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <input type="submit"  class="btn btn-default" value="LOG IN" id="">
              
            </a>
          
    </div>

  </form>
  <h6>No account yet? </h6>
  <a href="{% url 'accounts:signup' %}" class="btn"><h5>SIGN UP!</h5></a>
</div>
<link rel="stylesheet" href="{%  static  "css/master.css" %}">

{% endblock %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, harum atque.
 Ex repudiandae cum dignissimos, quibusdam odio sunt ad sit eaque, 
 quas a assumenda voluptatibus recusandae delectus nihil error. Quo!
