<!-- {% block prearticle %}
<h5>@{{ user.username }}'s  Articles</h5>
{% endblock %}


{% block article_content %} -->
<div class="article-media">
    <h3><strong><a href="{% url 'articles:single' username=article.user.username pk=article.pk %}">{{ article.title|safe }}</a></strong></h3>
    
    </strong></h2>
    <h5> {{ article.message_html|safe }} </h5>
    <div class="media-body">
        <h5 class="media-heading">
            <span class="username"><a href="{% url 'articles:for_user' username=article.user.username %}">by -- @{{ article.user.username }}</a></span>
            <time class="time">{{ article.created_date }}</time>
            {% if article.group %}
            <span class="group-name">in <a href="{% url 'groups:single' slug=article.group.slug %}">{{ article.group.name }}</a></span>
            {% endif %}
        </h5>
        <div class="media-footer">
            {% if user.is_authenticated  and article.user == user and not hide_delete %}
            <a href="{% url 'articles:delete'  pk=article.pk %}" title="delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
			<span class="text-danger icon-label">Delete</span>
        </a>
        {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
	<div>
		{% if article.posts.count == 0 %}
	
		<h5> No comments available yet.. </h5>
		{% else %}
        <h5>Comments:  </h5>
        <div class="col-md-4">
            <span class="badge">{{ article.posts.count }}</span> Comment{{ group.articles.count|pluralize }}
        </div>
        <br>
        <hr>
		{% for post in article.posts.all %}
		{% include "posts/_post.html" %}
		{% endfor %}
		{% endif %}
	</div>
	
	</div>
{% endblock %}