{% extends "articles/article_base.html" %}

{% block prearticle %}
{% if no_articles %}
    <p>Nothing to see here yet</p>
{% else %}
    <!-- Display the user's articles -->
   
        <!-- Your article display code here -->
    
{% if request.user.is_authenticated %}
<div class="contenet">
    <ul class="list-unstyled">
        {% for member_group in get_user_groups %}
        <li class="group li-with-bullet">
            <a href="{% url 'groups:single' slug=member_group.group.slug %}">{{ member_group.group.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="content">
  
    <ul class="list-unstyled">
        {% for other_group in get_other_groups %}
        <li class="group li-with-bullet"><a href="{% url 'groups:single' slug=other_group.slug %}">{{ other_group.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="container">
    {% endif %}

{% endblock %}
{% block article_content %}
{% for article in article_list %}
{% include  "articles/_article.html" %}
{% endfor %}

</div>
{% endblock %}
