{% extends "base.html" %}
{% block content %}
{% load static %}

    <h1>Welcome to Philip Blog</h1>
    <h2>Let us Talk Football</h2>
    <h2>Login or Sign-up for free to get started!</h2>


    
    <div id="root">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3"></div>
        <div class="layer layer-4"></div>
        <div class="layer layer-5"></div>
        <div class="layer layer-6"></div>    
      </div>




{% endblock %}
