{% extends "base.html" %}
{%  block content %}
<div class="container-fluid">
    <h5><strong><a href="{% url 'profile' %}">@ {{ user.username }}</a></strong></h5>

    <li><a class="dropdown-item" href="{% url 'articles:create' %}">Create An Article</a></li>
    <hr>
    <strong><h5><a href="{% url 'posts:for_user' username=user.username %}">YOUR COMMENTS</a></h5></strong>
    <strong><h5><a href="{% url 'articles:for_user' username=user.username %}">YOUR ARTICLES</a></h5></strong>
    <strong><a class="dropdown-item" href="{% url 'articles:bookmarks' %}">Bookmarks</a></strong>


</div>
{% endblock %}